@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body{
    background: #5B03CA;
    font-family: 'Ubuntu', sans-serif;
}

.circle1{
    border-radius: 100%;
    position: absolute;
    width: 850px;
    height: 800px;
    left: -10%;
    top: -40%;
    background: #7E46EF;
}

.circle2{
    border-radius: 100%;
    position: absolute;
    width: 900px;
    height: 900px;
    left: -10%;
    top: 60%;
    background: #7E46EF;
}

.circle3{
    border-radius: 100%;
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 55%;
    top: -50%;
    background: #7E46EF;
}
.circle4{
    border-radius: 100%;
    position: absolute;
    width: 750px;
    height: 750px;
    left: 70%;
    top: 70%;
    background: #7E46EF;
}

.title{
    color: #FFBD59;
    position: absolute;
    top: 25%;
    left:30%;
    font-size: 100px;
}

.btn-start{
    border: 1px solid #7E46EF;
    border-radius: 25px;
    background-color: #7E46EF;
    color: #FFBD59;
/*    font-family: 'Ubuntu', sans-serif; */
    font-size: 70px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    width: 300px;
    height: 80px;
    position: absolute;
    top:65%;
    left: 38.5%;
    padding: 30px;
}

