* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #5B03CA;
  }
  
  .hang-wrapper {
    display: flex;
  }
  
  .hang-aside {
    min-width: 450px;
    margin-right: 10px;
  }
  
  .hang-info {
    height: 200px;
    margin-bottom: 40px;
    background: #7E46EF;
  }
  
  .hang-input {
    width: 60px;
    height: 60px;
    font-size: 50px;
    text-align: center;
  }
  
  .hang-gallow {
    background: #7E46EF;
    width: 100%;
  }
  
  .hang-gallow-box {
    width: 100%;
  }
  
  .hang-gallow-box {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    background: #000;
  }
  
  .hang-indicator {
    display: none;
  }
  .hang-indicator.active {
    display: inline-block;
  }
  
  